body {
    background-color: #010400;
    color: #fffbfc;
    font-family: Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: #30332e;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    color: #62bbc1;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  button {
    background-color: #ec058e;
    border: none;
    border-radius: 5px;
    color: #fffbfc;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #fffbfc;
    color: #010400;
  }
  